@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Press Start 2P", Sans-Serif;
}
body {
    display: grid;
    place-items: center;
    width: 100vw;
    min-height: 100vh;
}
#gameOverMsg {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: calc(50% - 30px);
}
#gameOverMsg.show {
    display: flex;
}
#gameOverMsg #msg {
    color: #495359;
}
#restartBtn {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: url("img/restart.png");
    background-size: 100% 100%;
    margin-top: 10px;
}
#scoreContainer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(50% - 80px);
    right: 10px;
    color: #495359;
    font-size: 12px;
}
#scoreContainer > * {
    margin: 5px;
}
